.stApp{
    background: linear-gradient(
        -45deg,
        #6366f1,
        #22d3ee,
        #a855f7,
        #f43f5e
    );
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.card {
    background-color: darkturquoise;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #0f172a;
    font-weight: 600;
}

div[data-testid="metric-container"] {
    background-color: #f1f5f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.prediction-box{
    background : linear-gradient(
        135deg,
        #e0f2fe ,
        #bae6fd 
    );
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #14532d;

}